include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst
include versioneer.py

graft molssi_hub

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif requirements.yml

global-exclude *.py[cod] __pycache__ *.so